name: Compile ESPHome S3

on:
  workflow_dispatch: # 允许你手动点击 "Run workflow" 触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install ESPHome
        run: |
          pip install esphome
          esphome version

      - name: Compile Binary
        # 注意：如果你的文件名不是 my_esp32_s3.yaml，请修改下面这一行
        run: esphome compile air-quality-pms5003s.yaml

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: pms5003s-firmware
          # 最强匹配模式：在 .esphome 文件夹下递归查找任何以 .bin 结尾的文件
          path: .esphome/**/*.bin
